@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 500vh;
  margin: 0;
}

.line-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

svg {
  display: inline-block;
  height: 100%;
}

section {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Courier New", Courier, monospace;
}

.layer1-Gradient {
  @apply bg-gradient-to-t from-[#00B5DC] via-[#39b7d2] to-[#64c8de];
}

.layer2-Gradient {
  @apply bg-gradient-to-t from-[#d36226] via-[#cb7142] to-[#f4a77e];
}

.layer3-Gradient {
@apply bg-gradient-to-r from-[#4d2682] via-[#6424ba] to-[#9e6ce2]
}

.layer4-Gradient {
  @apply bg-gradient-to-r from-[#f68720] via-[#f29d4e] to-[#feb572]
}

.layer5-Gradient {
  @apply bg-gradient-to-r from-[#81bc40] via-[#9ad657] to-[#adde76]

}

.text {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  @apply text-black text-[1em] md:text-[4em]
}